.blogCard-subtitle {
  font-size: 13px;
}

.p-tag {
  font-weight: 600;
  font-size: 11px;
  color: #6b7280;
  background: none;
  border: solid 2px;
}

.blog-highlight-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;
}
